<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxinmiracle.alsap.mapper.CtiChunkMapper">

    <resultMap id="BaseResultMap" type="com.yxinmiracle.alsap.model.entity.CtiChunk">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="ctiId" column="ctiId" jdbcType="BIGINT"/>
            <result property="itemId" column="itemId" jdbcType="BIGINT"/>
            <result property="sentText" column="sentText" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="startOffset" column="startOffset" jdbcType="INTEGER"/>
            <result property="endOffset" column="endOffset" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,ctiId,itemId,
        sentText,userId,startOffset,
        endOffset,createTime,updateTime,
        isDelete
    </sql>
</mapper>
