<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxinmiracle.alsap.mapper.RelationTypeMapper">

    <resultMap id="BaseResultMap" type="com.yxinmiracle.alsap.model.entity.RelationType">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="startEntityItemId" column="startEntityItemId" jdbcType="BIGINT"/>
            <result property="endEntityItemId" column="endEntityItemId" jdbcType="BIGINT"/>
            <result property="relationName" column="relationName" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,startEntityItemId,endEntityItemId,
        relationName,createTime,updateTime,
        isDelete
    </sql>
</mapper>
